* {
  margin: 0;
  padding: 0;
}

#header {
  height: 60px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

#body {
  height: 100%;
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

#footer {
  height: 100px;
  background-color: hsl(0, 8%, 73%);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}

#banner {
  height: 300px;
  background-color: yellow;
}

#header-area {
  width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
}

#header-area > img {
  width: 128px;
  height: 36px;
}

#banner > img {
  width: 100%;
  height: 300px;
}

#body > h1 {
  margin-top: 16px;
}

.product-card {
  width: 180px;
  height: 300px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 2px solid darkgray;
  border-radius: 10px;
  overflow: hidden;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: last baseline;
  margin-top: 12px;
}

.product-img {
  width: 100%;
  height: 180px;
}

.product-contents {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.product-name {
  font-size: 14px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.product-seller {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.product-avatar {
  height: 20px;
}
